[SddmGreeterTheme]
Name=Tokyo Night SDDM
Description=A Tokyo Night Theme for SDDM
Author=rototrash
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/tokyo-night-sddm/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=tokyo-night-sddm

